style {
  html, body {
    font-family: system-ui;
    padding: 0;
    margin: 0;
  }
  code {
    color: #fc0;
  }
  a {
    color: #09c;
  }
}

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <meta name="description" content="見一手">
  <title>見一手</title>
  <lasso-head/>
</head>
<body>
  <miitte-app route=input.route entries=input.entries />
  <lasso-body/>
</body>
</html>
